$font-main: Montserrat, sans-serif;
$bg-main: #ffffff;
$text-primary: #363636;
$text-secondary: #000000;

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: $font-main;
    background-color: $bg-main;
    color: $text-primary;
}

a {
    color: inherit;
    text-decoration: none;
}

.article-summary {
    font-size: 1.1rem;
    line-height: 1.6;
    color: $text-secondary;
}